<a href="https://colab.research.google.com/github/iesous-kurios/AB-Demo/blob/master/HHAA_Notebook_txt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [0]:
# load excel file containing HMIS data
df = pd.read_excel('/content/july2019.xlsx')
#df_old = pd.read_excel('jan_bridge_served.xlsx')

In [0]:
# create new dataframe that only has guests in feb that were not served in jan
#df = df_new[~df_new.isin(df_old)].dropna(how='all')

In [0]:
#df = df.dropna(subset=['3.6 Gender'], how='all')

In [53]:
# count of guests served in feb that were not served in jan
df['5.8 Personal ID'].value_counts().sum()

516

In [54]:
uniqueValues = df['5.8 Personal ID'].nunique()
 
print('Unique elements in column "5.8 Personal ID" ')
print(uniqueValues)

Unique elements in column "5.8 Personal ID"
453

In [55]:
# display how many total IDs are found in original file
df['5.8 Personal ID'].value_counts().sum()

516

In [0]:
# remove the duplicates
df = df.drop_duplicates(subset='5.8 Personal ID', keep='first')

In [57]:
# get new number of total IDs to make sure the code worked
df['5.8 Personal ID'].value_counts().sum()

453

In [58]:
# make sure total unduplicated guests in dataframe is equal to count of unique values

assert(df['5.8 Personal ID'].value_counts().sum() == uniqueValues)

# print success message if above code proves that only unduplicated guests are in our dataframe

print('Your data set only contains unduplicated guests')

# the print statement will fail to print if the number of guests in your dataframe is different from number of unduplicated guests

Your data set only contains unduplicated guests

In [0]:
counties = pd.read_excel('/content/uszips.xlsx')

In [60]:
counties.head()

   V5 Zip    V5 City     V5 State county_name
0     601   Adjuntas  Puerto Rico    Adjuntas
1     602     Aguada  Puerto Rico      Aguada
2     603  Aguadilla  Puerto Rico   Aguadilla
3     606    Maricao  Puerto Rico     Maricao
4     610     Anasco  Puerto Rico      Añasco

In [61]:
counties.tail()

       V5 Zip         V5 City    V5 State            county_name
33095   99925         Klawock      Alaska  Prince of Wales-Hyder
33096   99926      Metlakatla      Alaska  Prince of Wales-Hyder
33097   99927     Point Baker      Alaska  Prince of Wales-Hyder
33098   99929        Wrangell      Alaska               Wrangell
33099   99016  Spokane Valley  Washington                Spokane

In [0]:
v5 = df[['V5 Prior Address', 'V5 State', 'V5 Zip']].copy()

In [63]:
v5.sample(5)

    V5 Prior Address V5 State   V5 Zip
48        112 W Blvd       ID  83647.0
177              NaN       WA  99037.0
463              NaN      NaN      NaN
502              NaN      NaN      NaN
184              NaN       WA  99206.0

In [0]:
v5 = v5.merge(counties, on='V5 Zip')

In [65]:
v5.head()

  V5 Prior Address V5 State_x   V5 Zip     V5 City  V5 State_y county_name
0    245 N. Albert         IN  46619.0  South Bend     Indiana  St. Joseph
1  1515 E Illinois         WA  99207.0     Spokane  Washington     Spokane
2  1515 E Illinois         WA  99207.0     Spokane  Washington     Spokane
3              NaN         WA  99207.0     Spokane  Washington     Spokane
4              NaN         WA  99207.0     Spokane  Washington     Spokane

In [93]:
v5.county_name.value_counts()

Spokane       130
Stevens        11
Sonoma          4
Weber           4
Shasta          4
Elmore          4
Kern            4
Salt Lake       3
Mason           2
Whitman         2
Snohomish       2
Canyon          2
Yavapai         1
Glacier         1
Okanogan        1
Kootenai        1
Benton          1
Josephine       1
Lincoln         1
Campbell        1
Maricopa        1
Flathead        1
Pierce          1
Tillamook       1
Clark           1
Riverside       1
Martin          1
King            1
Baxter          1
Missoula        1
St. Joseph      1
Name: county_name, dtype: int64

In [66]:
v5['V5 City'].value_counts()

Spokane                    80
Spokane Valley             25
Airway Heights              8
Veradale/Spokane Valley     6
Colville                    5
Deer Park                   5
Mountain Home               5
Chewelah                    4
Santa Rosa                  4
Ogden                       4
Bakersfield                 4
Anderson                    4
Salt Lake City              3
Nampa                       2
Hoodsport                   2
Greenacres                  2
Cheney                      2
Everett                     2
Medical Lake                2
Pullman                     2
Lolo                        1
Sprague                     1
Kennewick                   1
Phoenix                     1
Hemet                       1
Coeur D Alene               1
Tacoma                      1
Browning                    1
Federal Way                 1
Jensen Beach                1
Kalispell                   1
Northport                   1
Tillamook                   1
Mayer                       1
Kerby                       1
South Bend                  1
Gillette                    1
Wellpinit                   1
Vancouver                   1
Omak                        1
Name: V5 City, dtype: int64

In [67]:
v5['V5 City'].value_counts().sum()

191

In [94]:
130-80

50

In [95]:
50/130

0.38461538461538464

In [0]:
def get_count(city):
    count = 0
    for row in v5['V5 City']:
        if row == city:
            count += 1
    return count

In [0]:
city_list = ['Cheney', 'Spokane Valley', 'Veradale/Spokane Valley', 'Deer Park', 'Medical Lake', 'Liberty Lake', 'Waverly', 'Latah', 'Fairfield', 'Rockford', 'Spangle', 'Airway Heights']

In [72]:
for item in city_list:
    print("Number served in", item, "is", get_count(item))

Number served in Cheney is 2
Number served in Spokane Valley is 25
Number served in Veradale/Spokane Valley is 6
Number served in Deer Park is 5
Number served in Medical Lake is 2
Number served in Liberty Lake is 0
Number served in Waverly is 0
Number served in Latah is 0
Number served in Fairfield is 0
Number served in Rockford is 0
Number served in Spangle is 0
Number served in Airway Heights is 8

In [73]:
# race info

df['3.4 Race'].value_counts()

White                                        271
Multi-Racial                                  56
American Indian or Alaska Native              51
Black or African American                     48
Native Hawaiian or Other Pacific Islander     23
Client doesn't know                            2
Data not collected                             1
Client refused                                 1
Name: 3.4 Race, dtype: int64

In [74]:
# ethnicity

df['3.5 Ethnicity'].value_counts()

Non-Hispanic/Latino    411
Hispanic/Latino         40
Client doesn't know      2
Name: 3.5 Ethnicity, dtype: int64

In [0]:
# print total number of families served (unduplicated)
unique_households = df['5.9 Household ID'].nunique()

In [76]:
# print total of unique household IDs
unique_households

148

In [77]:
# double check unique households with another method
uniquehouseholds = df['5.9 Household ID'].unique()

len(uniquehouseholds)

148

In [78]:
df['4.2 Income Total at Entry'].value_counts()

459.00     7
569.00     6
363.00     6
1600.00    6
1700.00    4
          ..
797.00     1
567.00     1
1130.00    1
1310.69    1
835.00     1
Name: 4.2 Income Total at Entry, Length: 73, dtype: int64

In [0]:
df['30-50 MFI'] = df['4.2 Income Total at Entry'] >= 1700

In [0]:
df['30 MFI'] = df['4.2 Income Total at Entry'] <= 1700

In [81]:
df['30 MFI'].value_counts()

False    348
True     105
Name: 30 MFI, dtype: int64

In [82]:
df['30-50 MFI'].value_counts()

False    441
True      12
Name: 30-50 MFI, dtype: int64

In [83]:
df['3.6 Gender'].value_counts(normalize=False)

Female                                242
Male                                  209
Trans Male (FTM or Female to Male)      2
Name: 3.6 Gender, dtype: int64

In [84]:
# guests that stayed 60 days or less

df['60 or less'] = df['Count of Bed Nights (Housing Check-ins)'] <= 60

df['60 or less'].value_counts()

True     338
False    115
Name: 60 or less, dtype: int64

In [85]:
df['90 or less'] = df['Count of Bed Nights (Housing Check-ins)'] <= 90

df['90 or less'].value_counts()

True     388
False     65
Name: 90 or less, dtype: int64

In [86]:
df['3.12 Exit Destination'].value_counts()

Emergency shelter, including hotel or motel paid for with emergency shelter voucher, or RHY-funded Host Home shelter             98
Rental by client, no ongoing housing subsidy                                                                                     62
Client refused                                                                                                                   62
Rental by client, other ongoing housing subsidy                                                                                  33
No exit interview completed                                                                                                      23
Rental by client with RRH or equivalent subsidy                                                                                  20
Transitional Housing for homeless persons (including homeless youth)                                                             20
Place not meant for habitation (e.g., a vehicle, an abandoned building, bus/train/subway station/airport or anywhere outside)    15
Staying or living with family, temporary tenure (e.g., room, apartment or house)                                                 14
Staying or living with friends, temporary tenure (e.g., room, apartment or house)                                                12
Staying or living with family, permanent tenure                                                                                  12
Hotel or Motel paid for without Emergency Shelter Voucher                                                                         4
Substance Abuse Treatment or Detox Center                                                                                         2
Owned by client, no ongoing housing subsidy                                                                                       1
Permanent housing (other than RRH) for formerly homeless persons                                                                  1
Name: 3.12 Exit Destination, dtype: int64

In [87]:
pd.pivot_table(df, index='5.9 Household ID', columns=['4.2 Income Total at Entry', '4.2 Income Total at Exit'], aggfunc='sum')

                          2.6 Federal Grant Programs         ... YAHP Referral Most Recent
4.2 Income Total at Entry                     160.0  207.0   ...                    2500.0 2790.0
4.2 Income Total at Exit                      160.0  345.0   ...                    2500.0 791.0
5.9 Household ID                                             ...
112531                                           NaN    NaN  ...                       NaN    NaN
115625                                           NaN    NaN  ...                       NaN    NaN
116966                                           NaN    NaN  ...                       NaN    NaN
117208                                           NaN    NaN  ...                       NaN    NaN
117399                                           NaN    NaN  ...                       0.0    NaN
...                                              ...    ...  ...                       ...    ...
127270                                           NaN    NaN  ...                       NaN    NaN
127327                                           NaN    NaN  ...                       NaN    NaN
127825                                           NaN    NaN  ...                       NaN    NaN
127829                                           NaN    NaN  ...                       NaN    NaN
128067                                           NaN    NaN  ...                       NaN    NaN

[79 rows x 4824 columns]

In [0]:
df['increased'] = df['4.2 Income Total at Exit'] > df['4.2 Income Total at Entry']

In [89]:
df['increased'].value_counts()

False    435
True      18
Name: increased, dtype: int64